* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1d2024;
  width: 80%;
  height: auto;
  margin: auto;
  color: white;
}

header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

header h2 {
  padding: 1rem 0 2rem 0;
}

#logo {
  font-family: "Abril Fatface", cursive;
  font-weight: 500;
  color: white;
  font-size: 2.5rem;
}

.search-input {
  width: 50rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  margin: 0 2rem;
}

.search-form {
  position: relative;
}

.submit-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background: #4c81d1;
  color: white;
  cursor: pointer;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 1rem;
  row-gap: 5rem;
  column-gap: 2rem;
}

.gallery-img-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.gallery-img {
  height: 65vh;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
}

.gallery-img img:hover {
  transform: scale(1.2);
}

.gallery-img-info p {
  font-size: 1.2rem;
}

.gallery-img-info a {
  color: white;
}

#download {
  color: white;
  font-size: 1.2rem;
  background: #4c81d1;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
}

.nav-more {
  text-align: center;
}
